annotated-types==0.7.0
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
et-xmlfile==1.1.0
fake-useragent==1.5.1
Flask==3.0.3
fonttools==4.53.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.1
numpy==1.26.4
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pandas_ta==0.3.14b0
pillow==10.4.0
psutil==6.0.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
seaborn==0.13.2
setuptools==70.2.0
six==1.16.0
soupsieve==2.5
squarify==0.4.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
vnai==0.1.1
vnstock==0.2.9.0
vnstock3==0.3.0.5
vnstock_ezchart==0.0.2
Werkzeug==3.0.3
wordcloud==1.9.3
